body {
    background-image: url('https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg');
    background-repeat: repeat;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 4em;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 1.5em;
    padding-top: 10px;
}